/* -- FONT sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    05- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
    
    */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting  */
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
}

.section-testimonials {
  background-color: hsl(210, 46%, 95%);
}

.testimonial-container {
  padding: 9.6rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  color: hsl(0, 0%, 100%);
}

.testimonial {
  border-radius: 9px;
  padding: 3.2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.testimonial-img {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
}

/* Testimonial 1 */

#testimonial-1 {
  background: hsl(263, 55%, 52%) url("images/bg-pattern-quotation.svg")
    no-repeat top 40px right 100px;
  grid-column: 1/3;
}

#testimonial-1 .testimonial-name {
  color: hsl(0, 0%, 81%);
}

#testimonial-1 .testimonial-status {
  color: hsla(0, 0%, 81%, 0.5);
}

#testimonial-1 .testimonial-text {
  color: hsla(0, 0%, 81%, 0.7);
}

#testimonial-1 .testimonial-content {
  color: hsl(0, 0%, 81%);
}

#testimonial-1 .testimonial-img {
  border-color: hsla(0, 0%, 81%, 0.7);
}

/* Testimonial 2 */

#testimonial-2 {
  background-color: hsl(217, 19%, 35%);
}

#testimonial-2 .testimonial-name {
  color: hsl(210, 46%, 95%);
}

#testimonial-2 .testimonial-status {
  color: hsla(210, 46%, 95%, 0.5);
}

#testimonial-2 .testimonial-text {
  color: hsl(210, 46%, 95%, 0.7);
}

#testimonial-2 .testimonial-content {
  color: hsl(0, 0%, 81%);
}

#testimonial-2 .testimonial-img {
  border-color: hsla(0, 0%, 81%, 0.7);
}
/* Testimonial 3 */

#testimonial-3 {
  grid-row: 3/-2;
  grid-column: 4/-1;
  background-color: hsl(0, 0%, 100%);
}

#testimonial-3 .testimonial-name {
  color: hsl(217, 19%, 35%);
}

#testimonial-3 .testimonial-status {
  color: hsla(217, 19%, 35%, 0.5);
}

#testimonial-3 .testimonial-text {
  color: hsla(217, 19%, 35%, 0.7);
}

#testimonial-3 .testimonial-content {
  color: hsl(217, 19%, 35%);
}

#testimonial-3 .testimonial-img {
  border-color: hsla(217, 19%, 35%, 0.7);
}

/* Testimonial 4 */
#testimonial-4 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

#testimonial-4 .testimonial-name {
  color: hsl(217, 19%, 35%);
}

#testimonial-4 .testimonial-status {
  color: hsla(217, 30%, 14%, 0.5);
}

#testimonial-4 .testimonial-text {
  color: hsla(217, 30%, 14%, 0.7);
}

#testimonial-4 .testimonial-img {
  border-color: hsla(217, 30%, 14%, 0.7);
}

/* Testimonial 5 */
#testimonial-5 {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2/4;
}

#testimonial-5 .testimonial-name {
  color: hsl(0, 0%, 81%);
}

#testimonial-5 .testimonial-status {
  color: hsla(0, 0%, 81%, 0.5);
}

#testimonial-5 .testimonial-text {
  color: hsla(0, 0%, 81%, 0.7);
}

#testimonial-5 .testimonial-content {
  color: hsl(0, 0%, 81%);
}

#testimonial-5 .testimonial-img {
  border-color: hsla(0, 0%, 81%, 0.7);
}

.box {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  margin-bottom: 2.4rem;
}

.testimonila-info {
  font-size: 1.4rem;
}

.testimonial-name {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 4px;
  color: hsl(0, 0%, 81%);
}

.testimonial-status {
  font-size: 1.4rem;
  letter-spacing: 0.75px;
}

.testimonial-content {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.testimonial-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: rgba(72, 85, 106, 0.7);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
